<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dress-Me</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/4305/4305471.png" />

    <style>
           h1{
            margin-top: 537px;
    position: absolute;
    margin-left: 724px;
    font-size: 13px;
    color: rgb(226, 54, 82);
           }
           img{
    margin-left: 229px;
    width: 800px;
    margin-top: -6px;
    

}
h2{
    position: absolute;
    margin-left: 638px;
    margin-top: -475px;
    color: rgb(83, 41, 41);
}
    </style>
</head>
<body>
    <h1> open
    </h1>
    <img src="https://media.istockphoto.com/id/110872961/fr/vectoriel/boutique-de.jpg?s=612x612&w=0&k=20&c=gdKYyL-YljK6Lnu-c2Xlhvpqkmt29CJsHUBVBZcmEPw="/>
    <h2>Dress Me</h2>
</body>
</html>